<div id="<%= dom_id terminal %>">
  <p>
    <strong>Name:</strong>
    <%= terminal.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= terminal.code %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= terminal.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= terminal.longitude %>
  </p>

  <p>
    <strong>City:</strong>
    <%= terminal.city.name %>
  </p>

</div>
